.super-mario {
    width: 200px;
    position: absolute;
    top: 60px;
    left: 70px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 120px;
  }
  
  .baloon {
    position: absolute;
    top: 250px;
    left: 350px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 370px;
    top: 290px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 410px;
    left: 670px;
  }